<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_duck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,30},{60,28}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bear_duck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,28}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bear_duck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,59},{58,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{58,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bear_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{52,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bear_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{56,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bear_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bear.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb1ab11ed86fa5f442be6e86979e51f4:d3bfe44708b39db08d5aaad7c4a2da36:2904f34ed51771f70a05a1fbadbb6a19$</string>
            <key>textureFileName</key>
            <string>bear.png</string>
        </dict>
    </dict>
</plist>
